In [1]:
import pandas as pd

In [2]:
df_rtmovies = pd.read_csv('rotten_tomatoes_movies.csv')

In [3]:
df_rtreviews = pd.read_csv('rotten_tomatoes_reviews.csv')

In [8]:
df_rtmovies.head()

,rotten_tomatoes_link,movie_title,movie_info,critics_consensus,poster_image_url,rating,genre,directors,writers,cast,...,studio_name,tomatometer_status,tomatometer_rating,tomatometer_count,audience_status,audience_rating,audience_count,audience_top_critics_count,audience_fresh_critics_count,audience_rotten_critics_count
0,/m/0814255,Percy Jackson & the Olympians: The Lightning T...,A teenager discovers he's the descendant of a ...,Though it may seem like just another Harry Pot...,https://resizing.flixster.com/p1veUpQ4ktsSHtRu...,PG,"Action & Adventure, Comedy, Drama, Science Fic...",Chris Columbus,Craig Titley,"Logan Lerman, Brandon T. Jackson, Alexandra Da...",...,20th Century Fox,Rotten,49,144,Spilled,53.0,254287.0,38,71,73
1,/m/0878835,Please Give,Kate has a lot on her mind. There's the ethics...,Nicole Holofcener's newest might seem slight i...,https://resizing.flixster.com/0AbudQ4KsB4BeXSB...,R,Comedy,Nicole Holofcener,Nicole Holofcener,"Catherine Keener, Amanda Peet, Oliver Platt, R...",...,Sony Pictures Classics,Certified Fresh,86,140,Upright,64.0,11567.0,43,121,19
2,/m/10,10,Blake Edwards' 10 stars Dudley Moore as George...,NaN,https://resizing.flixster.com/mF0dxH6UTa0FdkMs...,R,"Comedy, Romance",Blake Edwards,Blake Edwards,"Dudley Moore, Bo Derek, Julie Andrews, Robert ...",...,Waner Bros.,Fresh,68,22,Spilled,53.0,14670.0,2,15,7
3,/m/1000013-12_angry_men,12 Angry Men (Twelve Angry Men),"A Puerto Rican youth is on trial for murder, a...",Sidney Lumet's feature debut is a superbly wri...,https://resizing.flixster.com/u-8xAyGaDVvROLiR...,NR,"Classics, Drama",Sidney Lumet,Reginald Rose,"Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",...,Criterion Collection,Certified Fresh,100,51,Upright,97.0,105000.0,6,51,0
4,/m/1000079-20000_leagues_under_the_sea,"20,000 Leagues Under The Sea","This 1954 Disney version of Jules Verne's 20,0...","One of Disney's finest live-action adventures,...",https://resizing.flixster.com/FKExgYBHu07XLoil...,G,"Action & Adventure, Drama, Kids & Family",Richard Fleischer,Earl Felton,"James Mason, Kirk Douglas, Paul Lukas, Peter L...",...,Disney,Fresh,89,27,Upright,74.0,68860.0,5,24,3

In [9]:
df_rtreviews.head()

,rotten_tomatoes_link,review_date,critic_publication,critic_icon,critic_top,critic_score,review_content
0,/m/0814255,2015-01-09,Cinemaphile.org,Rotten,NaN,NaN,The plot uses the presence of the Greek gods a...
1,/m/0814255,2012-07-31,7M Pictures,Fresh,NaN,NaN,It provides a great adventure movie for the fa...
2,/m/0814255,2011-11-05,"Star-Democrat (Easton, MD)",Rotten,NaN,NaN,The premise of Percy Jackson & the Olympians: ...
3,/m/0814255,2011-04-25,ComingSoon.net,Rotten,NaN,NaN,Percy Jackson is simply uninspired in every si...
4,/m/0814255,2011-04-04,Movies.com,Rotten,NaN,NaN,It kind of just builds up to a lot of Not Much.

In [7]:
import numpy as np

In [10]:
rt_fdialogue = df_rtmovies[['movie_title','directors','tomatometer_status','tomatometer_rating','tomatometer_count','audience_rating','audience_count']].copy()

In [11]:
rt_fdialogue.head()

,movie_title,directors,tomatometer_status,tomatometer_rating,tomatometer_count,audience_rating,audience_count
0,Percy Jackson & the Olympians: The Lightning T...,Chris Columbus,Rotten,49,144,53.0,254287.0
1,Please Give,Nicole Holofcener,Certified Fresh,86,140,64.0,11567.0
2,10,Blake Edwards,Fresh,68,22,53.0,14670.0
3,12 Angry Men (Twelve Angry Men),Sidney Lumet,Certified Fresh,100,51,97.0,105000.0
4,"20,000 Leagues Under The Sea",Richard Fleischer,Fresh,89,27,74.0,68860.0